.container {
    display: flex;
    height: 100vh;
}

.main {
    flex: 3;
    background-color: #f0f0f0;
    position: relative; /* Add this to position the canvas */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 100%;

}
.tool.selected {
    box-shadow: 0 0 10px #000;
}

.tool {
    border: none;
    background: #000000; /* Change the background color to black */
    color: #ffffff; /* Change the text color to white for contrast */
    margin: 0 10px;
    display: none;
}

.tool img {
    width: 30px;
    height: 30px;
}

.sidebar {
    flex: 1;
    background-color: #d0d0d0;
    padding: 1em;
    overflow-y: auto;
}

.card {
    margin: 1em;
    padding: 1em;
    border: 1px solid #888;
    border-radius: 8px;
}
